@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "components.*";

/*
Fonts
 */

@font-face {
    src: url("/assets/fonts/Ubuntu.ttf");
    fontFamily: Ubuntu;
    fontWeight: normal;
    fontStyle: normal;
}

/*
Components
 */

s|VScrollBar {
    skinClass: ClassReference("skins.CustomVScrollBarSkin");
}

.scrollBar {
    thumb_color: #d3d3d3;
    track_color: #eeeeee;
}